---
http_interactions:
- request:
    method: post
    uri: https://wsbexpress.dhl.com/rest/sndpt/DeleteShipment
    body:
      encoding: UTF-8
      string: '{"DeleteRequest":{"PickupDate":"2020-04-04","PickupCountry":"SG","DispatchConfirmationNumber":"CBJ180121002626","RequestorName":"Terry
        Kelly"}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-4947875e9e83552b53bceaf3 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"DeleteResponse\" : {\n    \"Notification\" : [  {\n      \"@code\"
        : \"410928\",\n      \"Message\" : \"Booking already cancelled or completed.\"\n
        \   },  {\n      \"@code\" : \"444\",\n      \"Message\" : \"Process failure
        occurred. Process ID associated for that transaction(129125731)\"\n    } ]\n
        \ }\n}\r\n"
  recorded_at: Fri, 03 Apr 2020 14:25:14 GMT
recorded_with: VCR 5.1.0
