---
http_interactions:
- request:
    method: post
    uri: https://wsbexpress.dhl.com/rest/sndpt/DeleteShipment
    body:
      encoding: UTF-8
      string: '{"DeleteRequest":{"PickupDate":"2017-07-24","PickupCountry":"SG","DispatchConfirmationNumber":"SIN-952041","RequestorName":"Terry
        Kelly","Reason":"001"}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-f4fa865ed921bcaf01fc3c3b 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"DeleteResponse\" : {\n    \"Notification\" : [  {\n      \"@code\"
        : \"410928\",\n      \"Message\" : \"Cancellation of booking was not successful.
        Requested Pickup was not found\"\n    },  {\n      \"@code\" : \"444\",\n
        \     \"Message\" : \"Process failure occurred. Process ID associated for
        that transaction(xxxxxxxxx)\"\n    } ]\n  }\n}\r\n"
  recorded_at: Fri, 03 Apr 2020 08:59:32 GMT
recorded_with: VCR 5.1.0
