---
http_interactions:
- request:
    method: post
    uri: https://wsbexpress.dhl.com/rest/sndpt/DeleteShipment
    body:
      encoding: UTF-8
      string: '{"DeleteRequest":{"PickupDate":"2020-04-04","PickupCountry":"SG","DispatchConfirmationNumber":"1149268120","RequestorName":"Terry
        Kelly"}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-bd32875e505d8648b7b50389 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"DeleteResponse\" : {\n    \"Notification\" :  {\n      \"@code\"
        : \"0\",\n      \"Message\" : \"Successfully cancelled\"\n    }\n  }\n}\r\n"
  recorded_at: Fri, 03 Apr 2020 12:57:33 GMT
recorded_with: VCR 5.1.0
