---
http_interactions:
- request:
    method: post
    uri: https://wsbexpress.dhl.com/rest/sndpt/ShipmentRequest
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Correlationid:
      - Id-016e835e5c2b138d9db9a8b0 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \r\r\n   \"reasons\": [{\"msg\" : \"Invalid Credentials\"}],\r\n
        \ \r\r\n   \"details\": {\r\n    \"msgId\": \"Id-016e835e5c2b138d9db9a8b0\"\r\n
        \ }\r\n\r\r\n}"
  recorded_at: Tue, 31 Mar 2020 16:21:21 GMT
recorded_with: VCR 5.1.0
