---
http_interactions:
- request:
    method: post
    uri: https://wsbexpress.dhl.com/rest/sndpt/TrackingRequest
    body:
      encoding: UTF-8
      string: '{"trackShipmentRequest":{"trackingRequest":{"TrackingRequest":{"Request":{"ServiceHeader":{"MessageTime":"2017-10-10T12:40:00Z","MessageReference":"896ab310ba5311e38d9ffb21b7e57543"}},"AWBNumber":{"ArrayOfAWBNumberItem":1234567890},"LevelOfDetails":"ALL_CHECK_POINTS","PiecesEnabled":"B"}}}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-f40f875e0a77a74876b3e7b0 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"trackShipmentRequestResponse\" : {\n    \"trackingResponse\"
        : {\n      \"TrackingResponse\" : {\n        \"Response\" : {\n          \"ServiceHeader\"
        : {\n            \"MessageTime\" : \"2020-04-03T10:29:08\",\n            \"MessageReference\"
        : \"896ab310ba5311e38d9ffb21b7e57543\"\n          }\n        },\n        \"AWBInfo\"
        : {\n          \"ArrayOfAWBInfoItem\" : {\n            \"AWBNumber\" : 1234567890,\n
        \           \"Status\" : {\n              \"ActionStatus\" : \"No Shipments
        Found\",\n              \"Condition\" : {\n                \"ArrayOfConditionItem\"
        : {\n                  \"ConditionCode\" : 101,\n                  \"ConditionData\"
        : \"No Shipments Found for AWBNumber | 1234567890\"\n                }\n              }\n
        \           }\n          }\n        }\n      }\n    }\n  }\n}\r\n"
  recorded_at: Fri, 03 Apr 2020 10:29:08 GMT
recorded_with: VCR 5.1.0
