---
http_interactions:
- request:
    method: post
    uri: https://wsbexpress.dhl.com/rest/sndpt/TrackingRequest
    body:
      encoding: UTF-8
      string: '{"trackShipmentRequest":{"trackingRequest":{"TrackingRequest":{"Request":{"ServiceHeader":{"MessageTime":"2017-10-10T12:40:00Z","MessageReference":"896ab310ba5311e38d9ffb21b7e57543"}},"AWBNumber":{"ArrayOfAWBNumberItem":3898464710},"LevelOfDetails":"ALL_CHECK_POINTS","PiecesEnabled":"B"}}}}'
    headers:
      Authorization:
      - Basic <BASIC_AUTH_CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-bcf9865e5290f664aa7c0cc0 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"trackShipmentRequestResponse\" : {\n    \"trackingResponse\"
        : {\n      \"TrackingResponse\" : {\n        \"Response\" : {\n          \"ServiceHeader\"
        : {\n            \"MessageTime\" : \"2020-04-03T08:54:20\",\n            \"MessageReference\"
        : \"896ab310ba5311e38d9ffb21b7e57543\"\n          }\n        },\n        \"AWBInfo\"
        : {\n          \"ArrayOfAWBInfoItem\" : {\n            \"AWBNumber\" : 3898464710,\n
        \           \"Status\" : {\n              \"ActionStatus\" : \"Success\"\n
        \           },\n            \"ShipmentInfo\" : {\n              \"OriginServiceArea\"
        : {\n                \"ServiceAreaCode\" : \"KUL\",\n                \"Description\"
        : \"Kuala Lumpur-MY\"\n              },\n              \"DestinationServiceArea\"
        : {\n                \"ServiceAreaCode\" : \"SIN\",\n                \"Description\"
        : \"Singapore-SG\",\n                \"FacilityCode\" : \"PEK\"\n              },\n
        \             \"ShipperName\" : \"FRESIA AGUIRRE RIVERA\",\n              \"ConsigneeName\"
        : \"EMEC INT TRADING\",\n              \"ShipmentDate\" : \"1970-01-02T00:00:00\",\n
        \             \"Pieces\" : 1,\n              \"Weight\" : 1.0,\n              \"WeightUnit\"
        : \"G\",\n              \"ShipmentEvent\" : {\n                \"ArrayOfShipmentEventItem\"
        : [ {\n                  \"Date\" : \"2015-10-12\",\n                  \"Time\"
        : \"00:00:00\",\n                  \"ServiceEvent\" : {\n                    \"EventCode\"
        : \"PU\",\n                    \"Description\" : \"Shipment Pickup \"\n                  },\n
        \                 \"ServiceArea\" : {\n                    \"ServiceAreaCode\"
        : \"KUL\",\n                    \"Description\" : \"Kuala Lumpur-MY\"\n                  }\n
        \               }, {\n                  \"Date\" : \"2015-10-12\",\n                  \"Time\"
        : \"00:00:01\",\n                  \"ServiceEvent\" : {\n                    \"EventCode\"
        : \"RD\",\n                    \"Description\" : \"Refused Delivery \"\n                  },\n
        \                 \"ServiceArea\" : {\n   [...]
